@font-face {
  font-family: 'Doctor Glitch';
  src: url(../font/Doctor.otf) format(otf);
}

@font-face {
  font-family: 'Heiti TC';
  src: url(../font/Heiti.TTF) format(TTF);
}

@font-face {
  font-family: 'Bukari Script';
  src: url(../font/Bukari-script.ttf) format(TTF);
}

@font-face {
  font-family: Montana;
  src: url(../font/Montana.ttf) format(TTF);
}
